<ion-view view-title="Star Wars Films">
  <ion-content>
    <div class="card" ng-controller="Films">
  <div class="item item-text-wrap" ng-repeat="result in filmsbundle.results">
    <h4>{{result.title}}</h4>
    <p>{{result.opening_crawl}}</p>
    <h2>episode number: {{result.episode_id}}</h2>
    <h2>release date: {{result.release_date}}</h2>
  </div>
</div>
  </ion-content>
</ion-view>
