<ion-view view-title="People">
    <ion-content>
        <form class="list" style="padding-top: 50px;" ng-submit="search(searchString)">
            <label class="item item-input">
                <input type="text" placeholder=" Persons name..." ng-model="searchString" name="searchString">
                <button type="submit" class="button button-royal " style="margin-right: 10px;">
                    <i class="icon ion-search"></i> Go
                </button>

            </label>
        </form>
        <div class="card">
  <div class="item item-text-wrap" ng-repeat="result in people.results">
    <h4>{{result.name}}</h4>
        <p>birth year: {{result.birth_year| date}}</p>
            <p>gender: {{result.gender}}</p>
            <p>height: {{result.height}}</p>
             <p> mass: {{result.mass}}</p>
              <p>Skin color: {{result.skin_color}}</p>
  </div>
    <div class="item item-text-wrap" ng-if="noData">
    <h4>Ooops no result matched your search</h4>

  </div>
</div>
    
    
  

    </ion-content>
</ion-view>




