<ion-view view-title="Planets">
  <ion-content>
   
   


    <div class="card myCard animated bounceIn" ng-controller="Planets">
  <div class="item item-text-wrap" ng-repeat="result in planets.results">
    <h4>{{result.name}}</h4>
    <p>rotaion period: {{result.rotation_period}}</p>
        <p>length of day: {{result.rotation_period}}</p>
            <p>lenght of year: {{result.orbital_period}}</p>
            <p>population: {{result.population}}</p>
             <p>climate: {{result.climate}}</p>
  </div>
</div>
  </ion-content>
</ion-view>



<!--

 Name, rotation, the length of a day on the planet, the length of a year on the planet, it's population as -->
