<ion-view view-title="StarBase">
  <ion-content>
    <ion-list>
      <ion-item  ng-repeat="playlist in playlists" >
       <div ng-click="routeMe(playlist)" >
           {{playlist.title}}
       </div>
        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
